<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.jahed.ca/papyrusrt/persistence/dsl/Persist"
			class = "ca.jahed.papyrusrt.persistence.dsl.persist.PersistPackage"
			genModel = "model/generated/Persist.genmodel" />
	</extension>
</plugin>
